

  .socimg
  {
    width: 30px;
    height: auto;
    margin: 5px;
  }

  .title
  {
    font-size: 30px;
  }

  body
  {
font-family: Verdana, Geneva, sans-serif;
;
margin:0;

  }

  .menu_buttons
  {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }

  .text_flex
  {
    margin:10%;
    display: flex;
  }

  .menu
  {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    list-style-type:  none;
    height: 70px;
    background-color: rgb(234, 172, 1);

  }

  .menu_li
  {
    margin-left:0px;
	margin-right:0px;
  }

  .menu_background
  {
    position: absolute;
    display: flex;
    height: 30px;
    background-color: rgb(253, 139, 0);
  }

  .img_head
  {
   z-index: 3;
   background: url(../images/gdpr-technology-1440x786.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
 background-size: cover;
  
  }

  .text_on_img
  {
    z-index: 2;
    position: absolute;
    top: 200px;
    right: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  .par
  {
   margin: 0px 20% 50px 20%;  
   text-align: left;
  }

  h1
  {
    margin: 50px 20% 50px 20%; 
    text-align: left;
    font-size: 40px;
  }
  
  .colored_bg
  {
    color: white;
    background-color: black;
    width: 100%;
    margin: 40px 0px 40px 0px;
    padding: 30px;

  }

  .img_icons
  {
    width:50px;
    height: auto;
    margin: 10px;
  }

  .competentions
  {
    text-align: center;
    font-size: 40px;
    padding: 10px 0 30px 0;
    
  }

  .uslugi
  {
    margin: 0px 20% 50px 20%;  
    text-align: left;
    padding: 0 0 0 17px;
    margin-right: 0;
  }

.uslugi_flex
{
  display: flex;
  width: 100%;

}
  
  .bottom_block
  {
  background:black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 50px 0;
  

  }

  .colored_h1
  {
    margin: 50px 20% 50px 20%; 
    text-align: left;
    font-size: 40px;
    color: white;
    background-color: black;
  }

  .white_text
  {
    margin: 0px 20% 50px 20%;  
    text-align: left;
  }

  button
  {
    display: block;

    font-size: 20px; /* Размер текста */
    color:white; /* Белый цвет текста */
    background-color: transparent; /* Цвет фона кнопки */
    border-width: 3px; /* Убираем рамку */
    border-color: white;
    border-radius: 0.4em; /* Радиус скругления */
   width: 300px;
    height: 50px;
    margin: 10px auto 50px auto;
 font-family:Verdana, Geneva, sans-serif;

    text-align: center;
  }

  .footer
  {
    display: flex;
    flex-direction: row;
  }

  .footer_text
  {position: relative;
    bottom: 40px;
    text-align: right;
    margin: 10px;
    color:rgb(82, 82, 82);
  }

  